{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="itil">

  <section class="hero-lower core">
    <div class="containers">
      <div class="ttl-secondary cW"><span>Wave PC Mateが解決できる課題</span></div>
      <h1 class="ttl-primary-s lower wave">ITILベースの運用管理を実施したい</h1>
      <div class="flex jcC aiC hero-lower__box">
        <figure class="hero-lower__img" data-aos="fade"><img src="/assets/img/common/img-hero-lower06.svg" alt="ITILベースの運用管理を実施したい"></figure>
        <summary class="hero-lower__txt">ITILベースの運用管理を実施したいが、拠点や社員数が増えリモートワークも進む中、継続運用に課題がある。<br class="pc-only">IT部門としてどのような体制を作ればよいのでしょうか？</summary>
      </div>
    </div>
  </section>

  <section class="roundBtn">
    <div class="containers">
      <a href="/catalog/" class="roundBtn__wrap" data-aos="fade-up">
        <div class="roundBtn__wrap--outer"><span>ITILベースの運用管理を実現！<br><b>解決</b>のための方法が<b>3分</b>でわかる！</span></div>
        <div class="more bg-o dl"><span><small>Wave PC Mateサービス資料</small><br>無料ダウンロードはこちら</span></div>
        <div class="roundBtn__wrap--sidebar">お申込み後、リアルタイムでお送りいたします！</div>
      </a>
    </div>
  </section>

  <section class="bg-LB">
    <div class="containers">
      <h2 class="ttl-secondary">ITILに準拠した運用管理を阻む「3つの壁」</h2>
      <div class="lead">ITILベースの運用管理を実施する上で、大きな課題は以下の3点です。</div>
      <ul class="flex anc">
        <li class="fadein">
          <a href="#method01" class="anc__box">
            <div class="anc__box--ttl">原因 1</div>
            <div class="anc__wrap">
              <figure class="anc__box--img"><img src="/assets/img/itil/img-anc01.jpg" alt="原因 1"></figure>
              <summary class="anc__box--txt">拠点数や社員、リモートワークが増えたことで、IT部門の業務が増加している。</summary>
            </div>
          </a>
        </li>
        <li class="fadein">
          <a href="#method02" class="anc__box">
            <div class="anc__box--ttl">原因 2</div>
            <div class="anc__wrap">
              <figure class="anc__box--img"><img src="/assets/img/itil/img-anc02.jpg" alt="原因 2"></figure>
              <summary class="anc__box--txt">IT資産が見える化できていなため、可用性管理ができない。</summary>
            </div>
          </a>
        </li>
        <li class="fadein">
          <a href="#method03" class="anc__box">
            <div class="anc__box--ttl">原因 3</div>
            <div class="anc__wrap">
              <figure class="anc__box--img"><img src="/assets/img/itil/img-anc03.jpg" alt="原因 3"></figure>
              <summary class="anc__box--txt">問題管理と変更管理のプロセスが取り入れられていないため、同じインシデントが繰り返し発生している。</summary>
            </div>
          </a>
        </li>
      </ul>
      <div class="group">
        <h2 class="ttl-secondary">ITILベースの運用管理を実現するには</h2>
        <div class="lead">Wave PC Mate は、お客様のPCライフサイクルを全般に渡ってサポートします。<br class="pc-only">ITILに準拠したサポート体制にて、お客様は変化に柔軟な体制を構築することが可能です。</div>
        <div id="method01" class="wrap">
          <div class="wrap__had">ITILベースの運用管理を実現する方法 1</div>
          <h3 class="wrap__ttl">ITILに準拠した「サポート」と「デリバリ」サービスを導入する</h3>
          <div class="wrap__lead">PC運用管理、エンドユーザサポート業務などPCに関わる一連の業務を一括アウトソーシングすることで、<br class="pc-only">お客様のマネージメント負荷を軽減することができます。IT部門は本来取り組むべきIT推進の企画・立案業務に専念することができます。</div>
          <div class="flex wrap__box">
            <figure class="wrap__box--img"><img src="/assets/img/itil/img-group01.svg" alt=""></figure>
            <summary class="wrap__box--txt">
              <h4 class="ttl">Wave PC MateのITILに準拠したサポート体制</h4>
              <a href="/solution/support/" class="more">サポートサービスの詳細はこちら</a>
              <a href="/solution/setup/" class="more">デリバリサービスの詳細はこちら</a>
            </summary>
          </div>
        </div>
        <div id="method02" class="wrap">
          <div class="wrap__had">ITILベースの運用管理を実現する方法 2</div>
          <h3 class="wrap__ttl">IT資産管理ツールにより、クライアントPC情報およびソフトウェア情報を管理</h3>
          <div class="wrap__lead">リアルタイムな情報把握が可能となり、PCの構成情報を可視化し管理します。</div>
          <div class="flex wrap__box">
            <figure class="wrap__box--img"><img src="/assets/img/itil/img-group02.svg" alt=""></figure>
            <summary class="wrap__box--txt">
              <h4 class="ttl">Wave PC MateのIT資産管理ツールでできること</h4>
              <ul class="disc">
                <li>契約情報をインベントリの定期照合によりライセンス管理を行うことで、ライセンスの不正利用を検出・防止</li>
                <li>インベントリ収集による定期的な情報更新や、移設・撤去などイベントに合わせたPC1台ごとに構成情報の更新管理を実施</li>
              </ul>
            </summary>
          </div>
        </div>
        <div id="method03" class="wrap">
          <div class="wrap__had">ITILベースの運用管理を実現する方法 3</div>
          <h3 class="wrap__ttl">サービスデリバリ・サービスデスク・サポート・サービス設計までを<br class="pc-only">一元管理できる環境を作る</h3>
          <div class="wrap__lead">インシデントの解決率や業務効率を高めるためにも、IT資産と各種インシデント情報を一元的に統括・管理できる環境を作ることが必要です。</div>
          <div class="flex wrap__box">
            <figure class="wrap__box--img"><img src="/assets/img/itil/img-group03.svg" alt=""></figure>
            <summary class="wrap__box--txt">
              <h4 class="ttl">Wave PC Mateが実現するITILベースの運用管理</h4>
              <ul class="disc">
                <li>ITILに準拠した「サービスサポート」と「サービスデリバリー」をご提供</li>
                <li>高品質で低コスト、変化に柔軟な体制づくりをサポート</li>
              </ul>
            </summary>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="material bg-DB">
    <div class="containers">
      <div class="flex item">
        <figure class="item__img" data-aos="flip-left"><img src="/assets/img/common/img02.png" alt="Wave PC Mateサービス資料"></figure>
        <summary class="item__box">
          <div class="item__box--txt">Wave PC Metaのサービス概要、 解決できる課題、<br class="pc-only">メリット・効果などがわかる！</div>
          <div class="item__box--ttl">Wave PC Mateサービス資料</div>
          <a href="/catalog/" class="more bg-o dl"><span>資料ダウンロードはこちら</span></a>
        </summary>
      </div>
    </div>
  </section>

  <section class="structure">
    <div class="containers">
      <h2 class="ttl-secondary">Wave PC Mateなら、ITILベースの運用管理を実現できます</h2>
      <div class="lead">Wave PC Mateをご利用いただくことで、ITILベースの運用管理を実施し<br class="pc-only">継続するライフサイクルマネジメント を実現できます。</div>
      <div class="scroll">
        <figure class="structure__img" data-aos="zoom-in"><img src="/assets/img/itil/img-structure.svg" alt="Wave PC Mateなら、ITILベースの運用管理を実現できます"></figure>
      </div>
    </div>
  </section>

  <section class="work bg-B">
    <div class="containers">
      <h2 class="ttl-secondary">Wave PC Mateなら、<br>PC運用管理におけるあらゆる課題を解決できます！</h2>
      <div class="flex jcC">
        <a href="/cost/" class="card core" data-aos="fade-down-right">
          <figure class="card__img"><img src="/assets/img/common/icon-consult01.svg" alt="PCの運用負荷やランニングコストを削減したい"></figure>
          <div class="card__ttl">PCの運用負荷やランニングコストを削減したい</div>
        </a>
        <a href="/replace/" class="card core" data-aos="fade-down">
          <figure class="card__img"><img src="/assets/img/common/icon-consult02.svg" alt="PCリプレイスを予定しているが、セットアップが間に合わない・・・"></figure>
          <div class="card__ttl">PCリプレイスを予定しているが、セットアップが間に合わない・・・</div>
        </a>
        <a href="/helpdesk/" class="card core" data-aos="fade-down-left">
          <figure class="card__img"><img src="/assets/img/common/icon-consult04.svg" alt="ヘルプデスク業務に忙殺されているので、なんとかしたい"></figure>
          <div class="card__ttl">ヘルプデスク業務に忙殺されているので、なんとかしたい</div>
        </a>
        <a href="/migration/" class="card core" data-aos="fade-up-right">
          <figure class="card__img"><img src="/assets/img/common/icon-consult05.svg" alt="Windows11やMicrosoft365への移行をしたいが台数が多くて大変・・・"></figure>
          <div class="card__ttl">Windows11やMicrosoft365への移行をしたいが台数が多くて大変・・・</div>
        </a>
        <a href="/itil/" class="card core" data-aos="fade-up-left">
          <figure class="card__img"><img src="/assets/img/common/icon-consult06.svg" alt="ITILベースの運用管理を実現したい"></figure>
          <div class="card__ttl">ITILベースの運用管理を実現したい</div>
        </a>
      </div>
    </div>
  </section>

  <section class="infoConts">
    <div class="containers-full">
      <div class="flex">
        <a href="/catalog/" class="item" data-aos="fade-right" data-aos-delay="100">
          <div class="item__box left">
            <figure class="item__box--img"><img src="/assets/img/common/icon-dl.png" alt="サービス資料ダウンロード"></figure>
            <div class="item__box--txt"><span>サービス資料ダウンロード</span></div>
          </div>
        </a>
        <a href="/contact/" class="item" data-aos="fade-left" data-aos-delay="100">
          <div class="item__box right">
            <figure class="item__box--img"><img src="/assets/img/common/icon-mail.png" alt="ご相談・お見積り"></figure>
            <div class="item__box--txt"><span>ご相談・お見積り</span></div>
          </div>
        </a>
      </div>
    </div>
  </section>

</main>

{% endblock %}