/*
  ----------------
  column-category
  ----------------
*/

.column-category {

  .bnr-catalog {
    margin-bottom: 30px;
    @media #{$sp} {
      margin-bottom: 15px;
    }
  }

  .article {
    &__ttl {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 30px;
      @media #{$sp} {
        font-size: 20px;
        margin-bottom: 15px;
      }
    }
    &__lead {
      font-size: 22px;
      margin-bottom: 70px;
      color: #333333;
      @media #{$sp} {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
    .item {
      margin-bottom: 70px;
      @media #{$sp} {
        margin-bottom: 30px;
      }
      .wrap {
        padding: 30px 0;
        border-top: 1px solid #DDD;
        @media #{$sp} {
          padding: 15px 0;
        }
        &:last-child {
          border-bottom: 1px solid #DDD;
        }
        &__img {
          width: 30%;
          @media #{$sp} {
            width: 85%;
            margin: 0 auto 15px;
          }
          img {
            aspect-ratio: 3 / 2;
            object-fit: cover;
          }
        }
        &__box {
          width: calc(100% - 30% - 20px);
          @media #{$sp} {
            width: 100%;
          }
          &--ttl {
            font-size: 20px;
            font-weight: bold;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            margin-bottom: 10px;
            @media #{$sp} {
              font-size: 16px;
            }
          }
          &--row {
            margin-bottom: 10px;
            span {
              display: inline-block;
              &:not(:last-child) {
                margin-right: 10px;
              }
            }
            .time {
              font-size: 12px;
              color: rgba(0,0,0,0.5);
            }
            .cat {
              font-size: 12px;
            }
          }
          &--lead {
            font-size: 12px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }
      }
    }
  }
  
}