/*
  ----------------
  column-single
  ----------------
*/

.column-single {
  
  .bnr-catalog {
    display: block;
    margin: 0 auto 30px;
    @media #{$sp} {
      width: 85%;
      margin: 0 auto 15px;
    }
  }

  .single .item__img img {
    object-fit: fill;
  }

  .ttl-writer {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .01em;
    color: #070707;
    border-bottom: 2px solid #6785c1;
    margin-bottom: 15px;
    padding: 5px 0 5px 50px;
    position: relative;
    @media #{$sp} {
      font-size: 16px;
      padding: 5px 0 5px 40px;
    }
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 30px;
      height: 30px;
      background: url("../img/common/icon-writer.png") 50% / contain no-repeat;
      @media #{$sp} {
        width: 20px;
        height: 20px;
      }
    }
  }
  
  .writer-card {
    margin: 40px 0;
    border: 5px solid #6785c1;
    background: #fff;
    border-radius: 20px;
    padding: 15px 15px 15px 20px;
    @media #{$sp} {
      padding: 15px;
      border: 3px solid #6785c1;
      margin: 20px 0;
    }
    
    figure {
      width: 15%;
      @media #{$sp} {
        width: 85%;
        margin: 0 auto 15px;
      }
      img {
        aspect-ratio: 16 / 9;
        object-fit: cover;
      }
    }
    dl {
      width: calc(100% - 15% - 20px);
      transition: all .3s;
      @media #{$sp} {
        width: 100%;
      }
      dt {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
        @media #{$sp} {
          font-size: 16px;
        } 
      }
      dd {
        font-size: 16px;
        font-weight: normal;
        @media #{$sp} {
          font-size: 14px;
        }
      }
    }
  }

  .relatedItem {
    border-left: 20px solid #6785c1;
    border-top: 1px solid #6785c1;
    border-bottom: 1px solid #6785c1;
    border-right: 1px solid #6785c1;
    padding: 15px;
    margin-bottom: 50px;
    @media #{$sp} {
      border-left: 15px solid #6785c1;
      margin-bottom: 20px;
    }
    &__ttl {
      color: #6785c1;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
      @media #{$sp} {
        font-size: 16px;
        margin-bottom: 15px;
      }
    }
    &__box {
      &--list {
        padding-left: 1.5em;
        position: relative;
        &::before {
          content: " ";
          position: absolute;
          top: 9px;
          left: 0;
          width: 6px;
          height: 6px;
          border: 1px solid;
          border-color: #6785c1 #6785c1 transparent transparent;
          transform: rotate(45deg);
        }
        &:not(:last-child) {
          margin-bottom: 10px;
          @media #{$sp} {
            margin-bottom: 5px;
          }
        }
        a {
          display: inline;
          @media #{$sp} {
            font-size: 14px;
          }
          &:hover {
            opacity: 1;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .sidenav__bnr {
    display: block;
    background: url("../img/common/bg-bnr01.jpg") 50% / cover no-repeat;
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;
    @media #{$sp} {
      width: 85%;
      margin: 0 auto 15px;
    }
    &--had {
      color: #070f26;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
      line-height: 1.5;
      @media #{$sp} {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
    &--ttl {
      color: #070f26;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      line-height: 1.5;
      @media #{$sp} {
        font-size: 16px;
      }
    }
    &--img {

    }
  }

  .sidenav-wrap {
    position: relative;
    top: 0;
    transition: all .5s;
    &.sticky {
      position: sticky;
      top: 150px;
      width: 300px;
      @media #{$sp} {
        position: static;
        top: auto;
        width: 85%;
      }
    }
  }

  
  

}