/*
  ----------------
  top
  ----------------
*/

.hero {
  background: url("../img/top/bg-hero.webp") 50% / cover no-repeat;
  height: 520px;
  @media #{$sp} {
    background: url("../img/top/bg-hero-sp.webp") 50% / cover no-repeat;
    height: auto;
  }
  .ttl-primary {
    text-align: left;
    @media #{$sp} {
      text-align: center;
    }
  }
  &__box {
    width: 50%;
    margin-right: auto;
    @media #{$sp} {
      width: 100%;
      margin: 0 auto;
    }
    &--txt {
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 40px;
      text-align: left;
      @media #{$sp} {
        font-size: 13px;
        margin-bottom: 20px;
        text-align: center;
      }
    }
    .more.bg-o {
      max-width: 440px;
      margin: 0;
      padding: 10px 50px 15px;
      border-radius: 40px;
      @media #{$sp} {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

.bnrArea {
  .containers {
    padding: 50px 40px;
    @media #{$sp} {
      padding: 25px 20px;
    }
  }
  &__box {
    display: block;
  }
}

.sol {
  background: url("../img/top/bg-sol.webp") 100% 50% no-repeat #E1E7F3;
  .ttl-secondary {
    margin-bottom: 80px;
    @media #{$sp} {
      margin-bottom: 40px;
    }
  }
  .card {
    width: calc(100% / 4 - 20px);
    @media #{$sp} {
      width: 100%;
    }
    &:not(:last-child) {
      @media #{$sp} {
        margin-bottom: 60px;
      }
    }
    .before {
      background: #fff;
      box-shadow: 0 0 8px rgba(0,0,0,0.2);
      margin-bottom: 100px;
      padding: 50px 30px 30px;
      position: relative;
      height: 260px;
      @media #{$sp} {
        height: auto;
        padding: 40px 15px 15px;
        margin-bottom: 80px;
      }
      &::before {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -65px;
        margin: auto;
        width: 100px;
        height: 80px;
        background: url("../img/top/img-sol-arrow.svg") 50% / contain no-repeat;
        @media #{$sp} {
          bottom: -50px;
          height: 50px;
        }
      }
      &__ttl {
        width: 140px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        background: #777777;
        color: #fff;
        border-radius: 7px;
        padding: 10px;
        position: absolute;
        left: 0;
        right: 0;
        top: -30px;
        margin: auto;
        @media #{$sp} {
          font-size: 16px;
          top: -25px;
        }
      }
      &__txt {
        font-size: 20px;
        margin-bottom: 15px;
        line-height: 1.4;
        @media #{$sp} {
          font-size: 16px;
        }
      }
      &__img {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;
        margin: auto;
        @media #{$sp} {
          position: static;
        }
        img {
          max-width: none;
          width: auto;
          height: 60px;
        }
      }
    }
    .after {
      display: block;
      background: #fff;
      box-shadow: 0 0 8px rgba(0,0,0,0.2);
      padding: 50px 30px 30px;
      position: relative;
      height: 570px;
      @media #{$sp} {
        height: auto;
        padding: 40px 15px 15px;
      }
      &__ttl {
        width: 140px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        background: #6785C1;
        color: #fff;
        border-radius: 7px;
        padding: 10px;
        position: absolute;
        left: 0;
        right: 0;
        top: -30px;
        margin: auto;
        @media #{$sp} {
          font-size: 16px;
          top: -25px;
        }
      }
      &__txt {
        font-size: 20px;
        font-weight: bold;
        color: #6785C1;
        text-align: center;
        margin-bottom: 15px;
        line-height: 1.4;
        @media #{$sp} {
          font-size: 16px;
        }
      }
      &__img {
        text-align: center;
        margin-bottom: 20px;
        img {
          max-width: none;
          width: auto;
          height: 60px;
        }
      }
      &__list {
        padding-left: 1.5em;
        li {
          position: relative;
          &::before {
            content: " ";
            position: absolute;
            top: 3px;
            left: -1.5em;
            width: 21px;
            height: 18px;
            background: url("../img/common/icon-check-g.svg") 50% / contain no-repeat;
            @media #{$sp} {
              width: 18px;
              height: 15px;
            }
          }
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.reasonConts {
  .ttl-secondary {
    margin-bottom: 60px;
    @media #{$sp} {
      margin-bottom: 30px;
    }
  }
  .card {
    width: calc(100% / 3 - 20px);
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom: 40px;
    position: relative;
    @media #{$sp} {
      width: 100%;
      margin-bottom: 30px;
    }
    &::before {
      content: " ";
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      margin: auto;
      width: 60px;
      height: 60px;
      background: url("../img/top/icon-num01.svg") 50% / contain no-repeat;
      z-index: 3;
      @media #{$sp} {
        width: 40px;
        height: 40px;
        top: -20px;
      }
    }
    &:nth-child(2) {
      &::before {
        background: url("../img/top/icon-num02.svg") 50% / contain no-repeat;
      }
    }
    &:nth-child(3) {
      &::before {
        background: url("../img/top/icon-num03.svg") 50% / contain no-repeat;
      }
    }
    &__img {

    }
    &__box {
      padding: 30px;
      @media #{$sp} {
        padding: 15px;
      }
      &--ttl {
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        @media #{$sp} {
          margin-bottom: 15px;
        }
      }
      &--txt {

      }
    }
  }
}

.management {
  background: url("../img/top/bg-management.webp") 50% / cover no-repeat;
  .item {
    &__img {
      width: 40%;
      @media #{$sp} {
        width: 85%;
        margin: 0 auto 15px;
      }
    }
    &__box {
      width: calc(100% - 40% - 60px);
      color: #fff;
      @media #{$sp} {
        width: 100%;
      }
      &--txt {
        margin-bottom: 40px;
        @media #{$sp} {
          margin-bottom: 20px;
        }
      }
      .more {
        margin: 0;
        width: 300px;
        @media #{$sp} {
          width: 85%;
          margin: 0 auto;
        }
      }
    }
  }
}