/*
  ----------------
  support
  ----------------
*/

.support {

  .hero-m {
    background: url("../img/solution/support/bg-hero.webp") 50% / cover no-repeat;
  }

  .meritConts.bg-LB {
    background: #fff;
  }

  .serviceConts {
    .card:nth-child(3) {
      pointer-events: none;
      .card__box--ttl span::before {
        content: none;
      }
    }
  }

}