{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="merit">

  <section class="hero-m core">
    <div class="containers">
      <h1 class="ttl-primary-s wave">導入効果・メリット</h1>
      <div class="ttl-catch" data-aos="fade" data-aos-delay="600">WavePCMateのサービスは、運用コスト・負荷の軽減などさまざまなメリットがあります</div>
    </div>
  </section>

  <section class="alternate cube">
    <div class="containers">
      <h2 class="ttl-secondary">導入メリット</h2>
      <div class="lead">Wave PC Mateのサービスは、マネージメント層、システム管理者、働く社員のすべての方々に<br class="pc-only">多くのメリットがあります。</div>
      <ul class="group">
        <li class="flex aiC">
          <figure class="group__img" data-aos="fade-right"><img src="/assets/img/merit/img-alternate01.jpg" alt="運用コストの見える化・TCO削減"></figure>
          <summary class="group__box">
            <div class="group__box--had"><span>経営層</span></div>
            <div class="group__box--ttl">運用コストの見える化・TCO削減</div>
            <div class="group__box--txt">
              <ul>
                <li>PC運用全般に渡る質の高いサービスの提供により、TCO削減が図れます。</li>
                <li>月額定額制で明確なコスト管理を実現。新たな投資の必要なく、毎月定額のサービス料として費用化が可能です。</li>
              </ul>
            </div>
          </summary>
        </li>
        <li class="flex aiC sp-reverse">
          <summary class="group__box">
            <div class="group__box--had"><span>システム管理者</span></div>
            <div class="group__box--ttl">運用負荷の軽減</div>
            <div class="group__box--txt">
              <ul>
                <li>各種インシデントの管理・分析等・改善策の提案まで行うため、システム管理者の負荷は大幅に軽減されます。</li>
                <li>パッチ・ウイルス対策ソフトの定義ファイルの適用や、ウイルス感染状況の監視と回復のためのテクニカル支援を行います。 </li>
              </ul>
            </div>
          </summary>
          <figure class="group__img" data-aos="fade-left"><img src="/assets/img/merit/img-alternate02.jpg" alt="運用負荷の軽減"></figure>
        </li>
        <li class="flex aiC">
          <figure class="group__img" data-aos="fade-right"><img src="/assets/img/merit/img-alternate03.jpg" alt="問合せ・トラブルに対する迅速な対応"></figure>
          <summary class="group__box">
            <div class="group__box--had"><span>社員</span></div>
            <div class="group__box--ttl">問合せ・トラブルに対する迅速な対応</div>
            <div class="group__box--txt">
              <ul>
                <li>業務マニュアルや障害復旧手順に関するお客様専用Webサイトを提供し、エンドユーザの自己解決支援を行います。</li>
                <li>各種問い合わせや障害連絡等の窓口を一元化し、経験豊富なスタッフが迅速に対応します。</li>
              </ul>
            </div>
          </summary>
        </li>
      </ul>
    </div>
  </section>

  <section class="effect bg-LB">
    <div class="containers">
      <h2 class="ttl-secondary">Wave PC Mateの導入効果</h2>
      <h3 class="ttl-sub">1. コスト削減効果</h3>
      <div class="lead">クライアントＰＣ１台あたりにかかる１年間のコストを比較してみました。「Wave PC Mate」を導入すると、<br class="pc-only">PCを1500台ご利用の場合、年間約２億５千万円のコスト削減効果があります。</div>
      <h4 class="effect__ttl">クライアントPC1台あたりにかかる<br class="sp-only">1年間のコスト比較</h4>
      <div class="scroll">
        <figure class="effect__img" data-aos="fade"><img src="/assets/img/merit/img-effect01.svg" alt="クライアントPC1台あたりにかかる1年間のコスト比較"></figure>
      </div>
      <div class="ttl-sub">2. ソフトウェア配布率</div>
      <div class="lead">配布用モジュールを弊社で作成し、適用率100% を目指します。<br>適用率をあげるために弊社では、以下の運用を行っております。</div>
      <h4 class="effect__ttl">運用フロー</h4>
      <ul class="flex effect__flow">
        <li class="effect__box fadein">
          <figure class="effect__box--img"><img src="/assets/img/merit/img-effect-flow01.jpg" alt="一定期間 PUSH配信で行う（適用率を毎日チェック）"></figure>
          <div class="effect__box--txt"><span>一定期間 PUSH配信</span>で行う（適用率を毎日チェック）</div>
        </li>
        <li class="effect__box fadein">
          <figure class="effect__box--img"><img src="/assets/img/merit/img-effect-flow02.jpg" alt="ある適用率以降は、クライアントPCからのPULL設定に切り替え"></figure>
          <div class="effect__box--txt">ある適用率以降は、<span>クライアントPCからのPULL設定</span>に切り替え</div>
        </li>
        <li class="effect__box fadein">
          <figure class="effect__box--img"><img src="/assets/img/merit/img-effect-flow03.jpg" alt="残っているPCに対して、直接指定でPUSH配信処理を実行"></figure>
          <div class="effect__box--txt"><span>残っているPC</span>に対して、<span>直接指定でPUSH配信処理</span>を実行</div>
        </li>
        <li class="effect__box fadein">
          <figure class="effect__box--img"><img src="/assets/img/merit/img-effect-flow04.jpg" alt="インストールできないPCは不具合の可能性等の分析を行い、情報システム部門様とその後の対応方法を協議"></figure>
          <div class="effect__box--txt"><span>インストールできないPC</span>は不具合の可能性等の<span>分析</span>を行い、情報システム部門様とその後の対応方法を<span>協議</span></div>
        </li>
      </ul>
      <h4 class="effect__ttl">ステークホルダーマップ</h4>
      <div class="scroll">
        <figure class="effect__img" data-aos="fade"><img src="/assets/img/merit/img-effect02.svg" alt="ステークホルダーマップ"></figure>
      </div>
    </div>
  </section>

  <section class="caseConts">
    <div class="containers">
      <h2 class="ttl-secondary">Wave PC Mateの導入事例</h2>
      <div class="flex">
        <div class="wrap fadein">
          <ul class="flex fS group">
            <li class="cat">サービス</li>
            <li class="cat">60拠点</li>
            <li class="cat">2,300台</li>
          </ul>
          <a href="/case/single/" class="flex card">
            <figure class="card__img"><img src="/assets/img/common/img-caseConts01.jpg" alt=""></figure>
            <summary class="card__box">
              <div class="card__box--ttl">事例タイトルが入ります。事例タイトルが入ります。事例タイトルが入ります。</div>
              <div class="card__box--company">●●株式会社</div>
            </summary>
          </a>
        </div>
        <div class="wrap fadein">
          <ul class="flex fS group">
            <li class="cat">サービス</li>
            <li class="cat">60拠点</li>
            <li class="cat">2,300台</li>
          </ul>
          <a href="/case/single/" class="flex card">
            <figure class="card__img"><img src="/assets/img/common/img-caseConts02.jpg" alt=""></figure>
            <summary class="card__box">
              <div class="card__box--ttl">事例タイトルが入ります。事例タイトルが入ります。事例タイトルが入ります。</div>
              <div class="card__box--company">●●株式会社</div>
            </summary>
          </a>
        </div>
      </div>
      <a href="/case/" class="more">導入事例を見る</a>
    </div>
  </section>

  <section class="infoConts">
    <div class="containers-full">
      <div class="flex">
        <a href="/catalog/" class="item" data-aos="fade-right" data-aos-delay="100">
          <div class="item__box left">
            <figure class="item__box--img"><img src="/assets/img/common/icon-dl.png" alt="サービス資料ダウンロード"></figure>
            <div class="item__box--txt"><span>サービス資料ダウンロード</span></div>
          </div>
        </a>
        <a href="/contact/" class="item" data-aos="fade-left" data-aos-delay="100">
          <div class="item__box right">
            <figure class="item__box--img"><img src="/assets/img/common/icon-mail.png" alt="ご相談・お見積り"></figure>
            <div class="item__box--txt"><span>ご相談・お見積り</span></div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="breadcrumb">
    <div class="containers">
      <ul class="flex fS">
        <li><a href="/">トップ</a></li>
        <li>導入効果・メリット</li>
      </ul>
    </div>
  </section>

</main>

{% endblock %}