{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="column-category">

  <div class="containers flex">

    <article class="Contents article">

      <h1 class="article__ttl"><span>○○○○（カテゴリ名）</span>に関するコラム</h1>

      <div class="article__lead"><span>○○○○（カテゴリ名）</span>に関する記事をお届けしています。</div>

      <div class="item">
        <a href="/column/single/" class="flex wrap">
          <figure class=" wrap__img"><img src="/assets/img/column/img03.jpg" alt=""></figure>
          <summary class="wrap__box">
            <div class="wrap__box--ttl">コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。</div>
            <div class="flex fS aiC wrap__box--row">
              <span class="time">2021.3.8</span>
              <span class="cat">カテゴリ名</span>
              <span class="cat">カテゴリ名</span>
            </div>
            <div class="wrap__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>
          </summary>
        </a>
        <a href="/column/single/" class="flex wrap">
          <figure class=" wrap__img"><img src="/assets/img/column/img04.jpg" alt=""></figure>
          <summary class="wrap__box">
            <div class="wrap__box--ttl">コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。</div>
            <div class="flex fS aiC wrap__box--row">
              <span class="time">2021.3.8</span>
              <span class="cat">カテゴリ名</span>
              <span class="cat">カテゴリ名</span>
            </div>
            <div class="wrap__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>
          </summary>
        </a>
        <a href="/column/single/" class="flex wrap">
          <figure class=" wrap__img"><img src="/assets/img/column/img05.jpg" alt=""></figure>
          <summary class="wrap__box">
            <div class="wrap__box--ttl">コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。</div>
            <div class="flex fS aiC wrap__box--row">
              <span class="time">2021.3.8</span>
              <span class="cat">カテゴリ名</span>
              <span class="cat">カテゴリ名</span>
            </div>
            <div class="wrap__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>
          </summary>
        </a>
        <a href="/column/single/" class="flex wrap">
          <figure class=" wrap__img"><img src="/assets/img/column/img06.jpg" alt=""></figure>
          <summary class="wrap__box">
            <div class="wrap__box--ttl">コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。</div>
            <div class="flex fS aiC wrap__box--row">
              <span class="time">2021.3.8</span>
              <span class="cat">カテゴリ名</span>
              <span class="cat">カテゴリ名</span>
            </div>
            <div class="wrap__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>
          </summary>
        </a>
        <a href="/column/single/" class="flex wrap">
          <figure class=" wrap__img"><img src="/assets/img/column/img07.jpg" alt=""></figure>
          <summary class="wrap__box">
            <div class="wrap__box--ttl">コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。</div>
            <div class="flex fS aiC wrap__box--row">
              <span class="time">2021.3.8</span>
              <span class="cat">カテゴリ名</span>
              <span class="cat">カテゴリ名</span>
            </div>
            <div class="wrap__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>
          </summary>
        </a>
        <a href="/column/single/" class="flex wrap">
          <figure class=" wrap__img"><img src="/assets/img/column/img08.jpg" alt=""></figure>
          <summary class="wrap__box">
            <div class="wrap__box--ttl">コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。</div>
            <div class="flex fS aiC wrap__box--row">
              <span class="time">2021.3.8</span>
              <span class="cat">カテゴリ名</span>
              <span class="cat">カテゴリ名</span>
            </div>
            <div class="wrap__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>
          </summary>
        </a>
        <a href="/column/single/" class="flex wrap">
          <figure class=" wrap__img"><img src="/assets/img/column/img09.jpg" alt=""></figure>
          <summary class="wrap__box">
            <div class="wrap__box--ttl">コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。</div>
            <div class="flex fS aiC wrap__box--row">
              <span class="time">2021.3.8</span>
              <span class="cat">カテゴリ名</span>
              <span class="cat">カテゴリ名</span>
            </div>
            <div class="wrap__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>
          </summary>
        </a>
        <a href="/column/single/" class="flex wrap">
          <figure class=" wrap__img"><img src="/assets/img/column/img10.jpg" alt=""></figure>
          <summary class="wrap__box">
            <div class="wrap__box--ttl">コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。</div>
            <div class="flex fS aiC wrap__box--row">
              <span class="time">2021.3.8</span>
              <span class="cat">カテゴリ名</span>
              <span class="cat">カテゴリ名</span>
            </div>
            <div class="wrap__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>
          </summary>
        </a>
        <a href="/column/single/" class="flex wrap">
          <figure class=" wrap__img"><img src="/assets/img/column/img11.jpg" alt=""></figure>
          <summary class="wrap__box">
            <div class="wrap__box--ttl">コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。</div>
            <div class="flex fS aiC wrap__box--row">
              <span class="time">2021.3.8</span>
              <span class="cat">カテゴリ名</span>
              <span class="cat">カテゴリ名</span>
            </div>
            <div class="wrap__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>
          </summary>
        </a>
        <a href="/column/single/" class="flex wrap">
          <figure class=" wrap__img"><img src="/assets/img/column/img12.jpg" alt=""></figure>
          <summary class="wrap__box">
            <div class="wrap__box--ttl">コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。コラムタイトルが入ります。</div>
            <div class="flex fS aiC wrap__box--row">
              <span class="time">2021.3.8</span>
              <span class="cat">カテゴリ名</span>
              <span class="cat">カテゴリ名</span>
            </div>
            <div class="wrap__box--lead">リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。リード文が入ります。</div>
          </summary>
        </a>
      </div>

      <nav class="pagination">
        <div class="nav-links">
          <a class="prev page-numbers" href="#"><span></span></a>
          <a class="page-numbers" href="#">1</a>
          <span class="page-numbers current">2</span>
          <a class="page-numbers" href="#">3</a>
          <a class="next page-numbers" href="#"><span></span></a>
        </div>
      </nav>

    </article>

    <aside class="Sidebar">

      <a href="/contact/" class="bnr-contact"><img src="/assets/img/common/bnr-contact.png" alt="導入前のご質問・ご相談はお気軽にご相談お見積り"></a>

      <a href="/catalog/" class="bnr-catalog"><img src="/assets/img/common/bnr-catalog.png" alt="Wave PC Mateの詳細がわかる！ サービス資料ダウンロード"></a>

      <div class="search">
        <form action="" class="search__form">
          <input class="search__input" type="search" placeholder="キーワードから探す">
          <button class="search__btn" type="submit"><img src="/assets/img/common/icon-search.svg"></button>
        </form>
      </div>

      <div class="catSearch">
        <h3 class="ttl-tertiary">カテゴリで探す</h3>
        <ul class="catSearch__list">
          <li><a href="#" class="cat">カテゴリ名が入ります</a></li>
          <li><a href="#" class="cat">カテゴリ名が入ります</a></li>
          <li><a href="#" class="cat">カテゴリ名が入ります</a></li>
          <li><a href="#" class="cat">カテゴリ名が入ります</a></li>
          <li><a href="#" class="cat">カテゴリ名が入ります</a></li>
          <li><a href="#" class="cat">カテゴリ名が入ります</a></li>
          <li><a href="#" class="cat">カテゴリ名が入ります</a></li>
          <li><a href="#" class="cat">カテゴリ名が入ります</a></li>
          <li><a href="#" class="cat">カテゴリ名が入ります</a></li>
          <li><a href="#" class="cat">カテゴリ名が入ります</a></li>
          <li><a href="#" class="cat">カテゴリ名が入ります</a></li>
        </ul>
      </div>

      <div class="blogList">
        <h3 class="ttl-tertiary">よく読まれている記事</h3>
        <a href="#" class="flex aiC inherit item">
          <div class="item__img"><img src="/assets/img/common/img-blog01.jpg" alt=""></div>
          <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
        </a>
        <a href="#" class="flex aiC inherit item">
          <div class="item__img"><img src="/assets/img/common/img-blog02.jpg" alt=""></div>
          <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
        </a>
        <a href="#" class="flex aiC inherit item">
          <div class="item__img"><img src="/assets/img/common/img-blog03.jpg" alt=""></div>
          <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
        </a>
        <a href="#" class="flex aiC inherit item">
          <div class="item__img"><img src="/assets/img/common/img-blog04.jpg" alt=""></div>
          <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
        </a>
        <a href="#" class="flex aiC inherit item">
          <div class="item__img"><img src="/assets/img/common/img-blog05.jpg" alt=""></div>
          <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
        </a>
      </div>

    </aside>

  </div>

  <section class="breadcrumb">
    <div class="containers">
      <ul class="flex fS">
        <li><a href="/">トップ</a></li>
        <li><a href="/column/">お役立ちコラム</a></li>
        <li>カテゴリ名が入ります。</li>
      </ul>
    </div>
  </section>

</main>

{% endblock %}