{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<main class="company">

  <section class="hero-s core">
    <div class="containers">
      <h1 class="ttl-primary-s wave">会社概要</h1>
    </div>
  </section>

  <section class="corporate">
    <div class="containers">
      <div class="lead">コンサルティングから企画・提案、構築、導入、運用・改善のシステムライフサイクルの各フェーズに一貫して 対応するとともに、<br class="pc-only">業務アプリケーション構築、インフラ環境の整備なども含め各種サービスを提供しております。</div>
      <h2 class="ttl-secondary">企業情報</h2>
      <table class="corporate__box">
        <colgroup>
          <col>
          <col>
        </colgroup>
        <tr>
          <th>商号</th>
          <td>株式会社エヌ・ティ・ティ・データ・ウェーブ（英文社名：NTT DATA WAVE Corporation）</td>
        </tr>
        <tr>
          <th>設立</th>
          <td>2002年8月</td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>本社 〒151-0051<br>東京都渋谷区千駄ヶ谷1-14-5 千駄ヶ谷インテス　<a href="">MAPこちらから</a><br>電話：03-6833-5900 FAX：03-5770-2626</td>
        </tr>
        <tr>
          <th>資本金</th>
          <td>1億円</td>
        </tr>
        <tr>
          <th>社長</th>
          <td>代表取締役社長      橋口 武人</td>
        </tr>
        <tr>
          <th>役員</th>
          <td>
            <dl class="flex fS">
              <dt>常務取締役</dt>
              <dd>竹内  英敏</dd>
            </dl>
            <dl class="flex fS">
              <dt>取締役</dt>
              <dd>蛯原  克明</dd>
            </dl>
            <dl class="flex fS">
              <dt>取締役</dt>
              <dd>朝迫  暢夫</dd>
            </dl>
            <dl class="flex fS">
              <dt>取締役</dt>
              <dd>齋藤  惣一郎</dd>
            </dl>
            <dl class="flex fS">
              <dt>監査役</dt>
              <dd>風間  雄一</dd>
            </dl>
          </td>
        </tr>
        <tr>
          <th>従業員</th>
          <td>439名（2021年4月1日現在）</td>
        </tr>
        <tr>
          <th>株主</th>
          <td>
            <a href="" target="_blank">株式会社NTTデータ 80.1％ （外部サイトへ移動します）</a><br>
            <a href="" target="_blank">日本たばこ産業株式会社 19.9％ （外部サイトへ移動します）</a>
          </td>
        </tr>
        <tr>
          <th>売上高</th>
          <td>売上高119億円（2020年度連結実績）</td>
        </tr>
        <tr>
          <th>子会社</th>
          <td>株式会社NTTデータ オーロラ （外部サイトへ移動します）</td>
        </tr>
      </table>
    </div>
  </section>

  <section class="bg-B history">
    <div class="containers">
      <h2 class="ttl-secondary">主な歩み</h2>
      <div class="history__box">
        <table>
          <colgroup>
            <col>
            <col>
            <col>
          </colgroup>
          <tr>
            <th><span>1986年</span>4月</th>
            <td>(株) ジェイティソフトサービス設立 （港区赤坂）</td>
          </tr>
          <tr>
            <th><span>1991年</span>9月</th>
            <td>通産省システム監査企業登録</td>
          </tr>
          <tr>
            <th><span>1997年</span>10月</th>
            <td>大規模ERPシステム構築に着手</td>
          </tr>
          <tr>
            <th><span>1999年</span>4月</th>
            <td>C/Sによる大規模ERPシステム稼動（メインフレーム撤去）</td>
          </tr>
          <tr>
            <th><span>2001年</span>4月</th>
            <td>ホスティングサービス開始</td>
          </tr>
          <tr>
            <th><span>2002年</span>8月</th>
            <td>ソフトウェア事業部門を分社型分割(株)NTTデータ ウェーブ発足</td>
          </tr>
          <tr>
            <th><span>2003年</span>3月</th>
            <td>経済産業省システムインテグレータ登録</td>
          </tr>
          <tr>
            <th><span></span>11月</th>
            <td>「Wave PC Mate」 サービス開始</td>
          </tr>
          <tr>
            <th><span>2004年</span>11月</th>
            <td>ISMS/BS7799 認証取得（本社・板橋センター）</td>
          </tr>
          <tr>
            <th><span>2005年</span>7月</th>
            <td>ISMS/BS7799 認証取得（三田センター）</td>
          </tr>
          <tr>
            <th><span></span>1月</th>
            <td>ISMS/BS7799 認証取得（蒲田分室）</td>
          </tr>
          <tr>
            <th><span>2005年</span>8月</th>
            <td>「Wave NET Mate」サービス開始</td>
          </tr>
          <tr>
            <th><span>2006年</span>10月</th>
            <td>(株) オーロラシステム設計事務所の経営権譲受し、<br> (株) NTTデータ オーロラを発足</td>
          </tr>
          <tr>
            <th><span></span>12月</th>
            <td>ISO/IEC27001:2005/JISQ27001:2006<br>認証取得（全事業所）</td>
          </tr>
          <tr>
            <th><span>2011年</span>1月</th>
            <td>2007年1月から開始した拠点統合が完了（千駄ヶ谷に統合移転）</td>
          </tr>
          <tr>
            <th><span>2012年</span>11月</th>
            <td>NTTデータグループ構成組織として、<br>ISO 14001:2004/JISQ 14001:2004 認証取得</td>
          </tr>
          <tr>
            <th><span>2014年</span>1月</th>
            <td>プライバシーマーク認証取得</td>
          </tr>
          <tr>
            <th><span>2015年</span>7月</th>
            <td>ISO/IEC 27001:2013/JIS Q 27001:2014 認証移行取得</td>
          </tr>
          <tr>
            <th><span>2017年</span>3月</th>
            <td>ISO/IEC 27017:2015認証取得</td>
          </tr>
          <tr>
            <th><span>2019年</span>12月</th>
            <td>くるみん認定取得</td>
          </tr>
        </table>
      </div>
    </div>
  </section>

  <section class="stance">
    <div class="containers">
      <h2 class="ttl-secondary">お客様に対する弊社の姿勢</h2>
      <div class="lead">私たちは、ベンダーとして選定されることを望みません。<br>情報システム部門様の要員と共に、貴社事業拡大に向けた業務提携を行わせていただくことを望みます。<br>そのために、私たちは、次の３つの事項をサービスの柱として考えております。</div>
      <ul class="flex aiC jcA stance__img">
        <li><img src="/assets/img/company/img-stance01.svg" alt="自律的行動"></li>
        <li><img src="/assets/img/company/img-stance02.svg" alt="業務支援"></li>
        <li><img src="/assets/img/company/img-stance03.svg" alt="継続改善"></li>
      </ul>
      <div class="stance__ttl">NTTデータ ウェーブのサービス</div>
    </div>
  </section>

  <section class="breadcrumb">
    <div class="containers">
      <ul class="flex fS">
        <li><a href="/">トップ</a></li>
        <li>会社概要</li>
      </ul>
    </div>
  </section>

</main>

{% endblock %}